.es-typo-text {
  font-size: 140%;
  color: #3278b5;
}

.es-typo-correct-fg {
  margin-top: 20px;
}

.es-typo-text-fg {
  margin-top: 30px;
}

.ru-lang-thumb, .en-lang-thumb {
  float: left;
  width: 50px;
}

.lang-switcher {
  float: left;
}